header{
    text-align: center; 
}


main{
    background-color: #e5e5f7;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#444cf7 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #444cf7 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1{
    margin: 0%;
    width: 100%;
}


.boton{
    margin-top: 30px;
    width: fit-content;
}


.formulario{
    margin: 20px 0px 20px 0px;
    width: 40%;
    padding: 100px;
    background: rgba(255, 255, 255, 0.438);
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    
}


.contenedor{
    background: rgba(255, 255, 255, 0.438);
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 )
}